/* Collaborate section */
.collaborate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6rem;
    position: relative;
}

.collaborate-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.collaborate-text img {
    background-color: #F5F3DA;
    border-radius: 50%;
    width: 77px;
    height: 77px;
}

.collaborate-text h2 {
    font-size: 45px;
    font-weight: 600;
}

.collaborate-text p{
    padding: 0;
    font-size: 20px;
    width: 437px;
}

.red-dot {
    padding: 15px;
    position: absolute;
    right: 260px;
    bottom: 20px;
    background-color: #FF00001F;
    background: rgba(255, 0, 0, 0.12);
    border-radius: 50%;
}


/* Contacts section */
.contacts {
    margin: 8rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.border {
    border-right: 1px solid #C2C2C2;
    padding-right: 5rem;
    height: 102px;
}

.social-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.icons div {
    background-color: #fff;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    margin-right: 20px;
}

.icons img {
    padding: 10px 13px;    
}

.phone {
    display: flex;
    align-items: center;
    text-align: center;
}

.phone img {
    margin-right: 20px;
}

.phone p {
    font-size: 20px;
    color: #333333;
}

.location {
    display: flex;
    align-items: center;
}

.location img {
    margin-right: 20px;
}


.location p {
    width: 325px;
    color: #333333;
    line-height: 1.7;
}


/* Form section */
.form-section {
    margin: 10rem auto;
    padding: 9rem 0;
    width: 671px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-header h2 {
    font-size: 30px;
}

.form-header p {
    margin-bottom: 3rem;
}

form {
    margin-top: 5rem;
}

.name-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name-form-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1.5rem 0;
}

.name-form-info label {
    color: #4F4F4F;
    padding-bottom: 7px;
    font-weight: 600;
}

.name-form-info input {
    width: 322px;
    height: 56px;
    border: 1px solid #fff;
    border-radius: 9px;
}

#email {
    width: 671px;
    height: 56px;
}

textarea {
    border: 1px solid #fff;
    width: 671px;
    height: 232px;
}


.name-form-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 4rem;
}

.touch {
    padding: 18px 50px;
}   
